a{
    color: rgb(0, 0, 0);
}

:root{
    --font : "dana";
}
*{
    margin: 0%;
    padding: 0%;
}
html{
    box-sizing: border-box;
}
body{
    background-image: url(bg/bg.png);
    background-clip: content-box;
    background-repeat: inherit;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container{
    min-width: 70%;
    max-width: 90%;
    height: auto;
    color: black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container::before{
    border-radius: 2.5rem;
    width: 90%;
    height: 2000px;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.275);
    z-index: -1;
    backdrop-filter: blur(10px);
}

aside{
    min-width: 85%;
    width: 75%;
    margin-top: 40px;
    border-radius: 1.5rem;
    background-image: url(bg/baner.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.447);
    background-size: 100% 220px;
}
.side{
    color: white;
    font-family: var(--font);
    text-align: center;
}
.about-me{
    font-weight: 400;
    margin-top: 10px;
    font-size: 28px;
}
.profile{
    margin-top: 100px;
}
.photo{
    border-radius: 50%;
    width: 120px;
}
.my-photo{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 50%;
    height: 130px;
    background: linear-gradient(135deg, #3320c7, #5b27cb);
}
.name{
    margin: 10px;
    font-size: larger;
}
.name h2{
    font-size: larger;
    font-size: 30px;
    font-weight: 600;
}
.name span{
    position: relative;
    bottom: 5px;
    font-weight: 400;
    opacity: 0.6;
}
.discription{
    font-weight: 200;
    margin: 10px 60px;
    font-size: larger;
    opacity: 0.8;
}
.social-media{
    width: 70%;
    height: 50px;
    margin:15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fab{
    filter: invert(100%);
    font-size: 35px;
    margin: 10px;
}
.contact{
    margin: 20px 50px;
    text-align: center;
    font-family: var(--font);
    font-weight: 300;
    font-size: larger;
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}
.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    margin: 10px 0;
}
.detail span{
    display: flex;
}
.detail span svg{
    padding: 0 5px;
}
nav{
    width: 85%;
    height: 45px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    background-color: #242426;
    margin: 30px 0;
    border-radius: 2rem;
    color: white;
    font-family: var(--font);
    align-items: center;
}
.primary-nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghost-nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.slider {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #4645D3;
    transition: left 0.6s ease-in-out, width 0.2s ease-in-out;
    z-index: 0;
    border-radius: 50px;
}
.nav span{
    z-index: 2;
}
.nav{
    cursor: pointer;
}